In [1]:
import logging
from prepare_data import HCDALoader

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

In [2]:
loader = HCDALoader()
app_ix = loader.applications_train_index()
data_train, target_train, data_val, target_val = loader.load_train_val(range(len(app_ix)), range(len(app_ix)))

2018-06-28 11:40:58,445 - DEBUG - Initializing data loader
2018-06-28 11:40:58,452 - DEBUG - Reading application_train.csv...
2018-06-28 11:41:06,610 - DEBUG - Finished reading application_train.csv
2018-06-28 11:41:06,610 - DEBUG - Loading bureau data...
2018-06-28 11:41:15,193 - DEBUG - Loading previous application data...
2018-06-28 11:41:48,505 - DEBUG - Done
2018-06-28 11:41:48,505 - DEBUG - Preparing applications data...
2018-06-28 11:41:53,547 - DEBUG - Performing soft impute on current home info...
2018-06-28 11:42:04,320 - DEBUG - Running PCA on current home info...
2018-06-28 11:42:07,902 - DEBUG - Performing linear regression on goods price and annuity amount...
2018-06-28 11:42:10,618 - DEBUG - Preparing applications data...
2018-06-28 11:42:15,585 - DEBUG - Performing soft impute on current home info...
2018-06-28 11:42:26,330 - DEBUG - Running PCA on current home info...
2018-06-28 11:42:27,370 - DEBUG - Performing linear regression on goods price and annuity amount...
2018-06-28 11:42:27,508 - DEBUG - Collating training data...
2018-06-28 11:42:34,348 - DEBUG - Collating validation data...
2018-06-28 11:42:41,803 - DEBUG - Scaling train and validation data...
2018-06-28 11:42:46,008 - DEBUG - Done

In [3]:
cc_data, cc_index = loader.read_credit_card_balance()

2018-06-28 11:42:46,170 - DEBUG - Reading credit card balance file...
2018-06-28 11:43:04,023 - DEBUG - Preparing credit card balance data...
2018-06-28 11:47:03,194 - DEBUG - Done

In [4]:
cc_data.nbytes

6140379648

In [10]:
import numpy as np
cc_data.unstack().values[:, :, np.newaxis]

NameError: name 'np' is not defined

### bureau_balance.csv

In [6]:
import pandas as pd
bureau_balance = pd.read_csv('data/bureau_balance.csv')

In [7]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

### credit_card_balance.csv

In [3]:
import pandas as pd
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')

In [9]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [10]:
credit_card_balance.groupby('SK_ID_PREV').count().head()

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_PREV,,,,,,,,,,,,,,,,,,,,,
1000018,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
1000030,8,8,8,8,7,8,7,7,8,7,...,8,8,7,8,7,7,8,8,8,8
1000031,16,16,16,16,13,16,13,13,16,12,...,16,16,13,16,13,13,16,16,16,16
1000035,5,5,5,5,0,5,0,0,5,0,...,5,5,0,5,0,0,5,5,5,5
1000077,11,11,11,11,0,11,0,0,11,0,...,11,11,0,11,0,0,11,11,11,11

In [11]:
credit_card_balance[credit_card_balance['SK_ID_PREV'] == 2843476]['MONTHS_BALANCE'].value_counts().max()

1

In [12]:
credit_card_balance.groupby('SK_ID_PREV').count().max()

SK_ID_CURR                    96
MONTHS_BALANCE                96
AMT_BALANCE                   96
AMT_CREDIT_LIMIT_ACTUAL       96
AMT_DRAWINGS_ATM_CURRENT      96
AMT_DRAWINGS_CURRENT          96
AMT_DRAWINGS_OTHER_CURRENT    96
AMT_DRAWINGS_POS_CURRENT      96
AMT_INST_MIN_REGULARITY       96
AMT_PAYMENT_CURRENT           96
AMT_PAYMENT_TOTAL_CURRENT     96
AMT_RECEIVABLE_PRINCIPAL      96
AMT_RECIVABLE                 96
AMT_TOTAL_RECEIVABLE          96
CNT_DRAWINGS_ATM_CURRENT      96
CNT_DRAWINGS_CURRENT          96
CNT_DRAWINGS_OTHER_CURRENT    96
CNT_DRAWINGS_POS_CURRENT      96
CNT_INSTALMENT_MATURE_CUM     96
NAME_CONTRACT_STATUS          96
SK_DPD                        96
SK_DPD_DEF                    96
dtype: int64

In [ ]:
credit_card_balance

In [69]:
cc_ts_summary = credit_card_balance.drop(['SK_ID_PREV'], axis=1).groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum().unstack().stack(dropna=False)
cc_ts_summary.head()

                           AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                     NaN                      NaN
           -95                     NaN                      NaN
           -94                     NaN                      NaN
           -93                     NaN                      NaN
           -92                     NaN                      NaN

                           AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                   NaN
           -95                                  NaN                   NaN
           -94                                  NaN                   NaN
           -93                                  NaN                   NaN
           -92                                  NaN                   NaN

                           AMT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                    NaN
           -95                                    NaN
           -94                                    NaN
           -93                                    NaN
           -92                                    NaN

                           AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                      NaN
           -95                                  NaN                      NaN
           -94                                  NaN                      NaN
           -93                                  NaN                      NaN
           -92                                  NaN                      NaN

                           AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                             NaN                        NaN
           -95                             NaN                        NaN
           -94                             NaN                        NaN
           -93                             NaN                        NaN
           -92                             NaN                        NaN

                           AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN            NaN
           -95                                  NaN            NaN
           -94                                  NaN            NaN
           -93                                  NaN            NaN
           -92                                  NaN            NaN

                           AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                       NaN
           -95                              NaN                       NaN
           -94                              NaN                       NaN
           -93                              NaN                       NaN
           -92                              NaN                       NaN

                           CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                         NaN
           -95                              NaN                         NaN
           -94                              NaN                         NaN
           -93                              NaN                         NaN
           -92                              NaN                         NaN

                           CNT_DRAWINGS_POS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN
           -95                                  NaN
           -94                                  NaN
           -93                                  NaN
           -92                                  NaN

                           CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
SK_ID_CURR MONTHS_BALANCE
100006     -96                                   NaN     NaN         NaN
           -95                                   NaN     NaN         NaN
           -94                                   NaN     NaN         NaN
           -93                                   NaN     NaN         NaN
           -92                                   NaN     NaN         NaN

In [20]:
pd.to_timedelta(credit_card_balance['MONTHS_BALANCE'], unit='M').head()

0   -183 days +09:05:24
1    -31 days +13:30:54
2   -214 days +22:36:18
3   -122 days +06:03:36
4    -31 days +13:30:54
Name: MONTHS_BALANCE, dtype: timedelta64[ns]

In [49]:
cc_ts_summary.index.get_level_values(cc_ts_summary.index.names[0]).unique().shape, app_ix.values.shape

((103558,), (307511,))

In [4]:
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_ids.shape

(220606,)

In [5]:
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1
missing_df.head()

   SK_ID_CURR  MONTHS_BALANCE
0      100002              -1
1      100003              -1
2      100004              -1
3      100007              -1
4      100008              -1

In [25]:
ignore_ids = credit_card_balance[~credit_card_balance['SK_ID_CURR'].isin(app_ix.values)]['SK_ID_CURR'].unique()
ignore_ids.sort()
ignore_ids

array([100013, 100028, 100042, ..., 456168, 456189, 456250], dtype=int64)

In [30]:
credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(app_ix.values)].head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.00,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.76,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.89,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.50,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.34,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0

In [36]:
cc_ts_summary.index.values

array([(100006, -96), (100006, -95), (100006, -94), ..., (456250, -3),
       (456250, -2), (456250, -1)], dtype=object)

---

*Sparse matrix*

In [6]:
sk_ids = app_ix.values[:20]
sk_ids

array([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
       100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019,
       100020, 100021, 100022, 100023], dtype=int64)

In [7]:
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(sk_ids)]

In [15]:
sparse_summary = (credit_card_balance
                  .append(missing_df)
                  .drop(['SK_ID_PREV'], axis=1)
                  .groupby(['SK_ID_CURR', 'MONTHS_BALANCE'])
                  .sum().unstack().stack(dropna=False).stack(dropna=False)
                  .to_sparse())

In [19]:
dense_df = sparse_summary.to_dense()

In [39]:
dense_df.index.get_level_values(dense_df.index.names[0]).unique()

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456238, 456240, 456243, 456245, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=220610)

In [40]:
import numpy as np

dense_df.unstack().values[:, :, np.newaxis].shape

(220610, 1425, 1)

In [42]:
dense_df.head().T

SK_ID_CURR                 100002
MONTHS_BALANCE                -75 -74 -73 -72 -71
AMT_BALANCE                   NaN NaN NaN NaN NaN
AMT_CREDIT_LIMIT_ACTUAL       NaN NaN NaN NaN NaN
AMT_DRAWINGS_ATM_CURRENT      NaN NaN NaN NaN NaN
AMT_DRAWINGS_CURRENT          NaN NaN NaN NaN NaN
AMT_DRAWINGS_OTHER_CURRENT    NaN NaN NaN NaN NaN
AMT_DRAWINGS_POS_CURRENT      NaN NaN NaN NaN NaN
AMT_INST_MIN_REGULARITY       NaN NaN NaN NaN NaN
AMT_PAYMENT_CURRENT           NaN NaN NaN NaN NaN
AMT_PAYMENT_TOTAL_CURRENT     NaN NaN NaN NaN NaN
AMT_RECEIVABLE_PRINCIPAL      NaN NaN NaN NaN NaN
AMT_RECIVABLE                 NaN NaN NaN NaN NaN
AMT_TOTAL_RECEIVABLE          NaN NaN NaN NaN NaN
CNT_DRAWINGS_ATM_CURRENT      NaN NaN NaN NaN NaN
CNT_DRAWINGS_CURRENT          NaN NaN NaN NaN NaN
CNT_DRAWINGS_OTHER_CURRENT    NaN NaN NaN NaN NaN
CNT_DRAWINGS_POS_CURRENT      NaN NaN NaN NaN NaN
CNT_INSTALMENT_MATURE_CUM     NaN NaN NaN NaN NaN
SK_DPD                        NaN NaN NaN NaN NaN
SK_DPD_DEF                    NaN NaN NaN NaN NaN

In [57]:
import scipy

scipy.sparse.csr_matrix(dense_df)

<1x314369250 sparse matrix of type '<class 'numpy.float64'>'
	with 310176200 stored elements in Compressed Sparse Row format>

In [20]:
# create an empty array of NaN of the right dimensions
shape = list(map(len, dense_df.index.levels))
arr = np.full(shape, np.nan)

# fill it using Numpy's advanced indexing
arr[dense_df.index.labels] = dense_df.values.flat

In [8]:
import pandas as pd

# read cc balance csv and full list of id values
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
sk_ids = None
#app_ix = self.applications_train_index()

if sk_ids is None:
    sk_ids = app_ix.values
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(sk_ids)]

# fill missing id values
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1

# mix it all around
logging.debug('Preparing credit card balance data...')
cc_ts_summary = (credit_card_balance
                 .append(missing_df)
                 .drop(['SK_ID_PREV'], axis=1)
                 .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
                 .unstack().stack(dropna=False)
                 .to_sparse())

2018-06-28 11:38:57,769 - DEBUG - Preparing credit card balance data...

In [9]:
import numpy as np

# create an empty array of NaN of the right dimensions
shape = list(map(len, cc_ts_summary.index.levels))
arr = np.full(shape, np.nan)

# fill it using Numpy's advanced indexing
arr[cc_ts_summary.index.labels] = cc_ts_summary.to_dense().values.flat

ValueError: shape mismatch: value array of shape (560900064,) could not be broadcast to indexing result of shape (29521056,)

In [24]:
arr.shape

(220610, 75, 19)

In [26]:
cc_id_index = sparse_summary.index.get_level_values(sparse_summary.index.names[0]).unique()
cc_id_index

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456238, 456240, 456243, 456245, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=220610)

In [21]:
dense_df.index.labels, sparse_summary.index.labels

(FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, ...]]),
 FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, ...]]))

In [45]:
dense_df.values.flat

In [46]:
list(map(len, sparse_summary.index.levels))

[220610, 75]

In [49]:
sparse_summary.index.labels

FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, ...]])

In [56]:
arr.shape

(220610, 75, 19)

In [28]:
arr.nbytes

2514954000