In [3]:
import logging
from prepare_data import HCDALoader

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

In [5]:
loader = HCDALoader()
app_ix = loader.applications_train_index()
data_train, target_train, data_val, target_val = loader.load_train_val(range(len(app_ix)), range(len(app_ix)))

2018-06-27 09:46:27,252 - DEBUG - Initializing data loader
2018-06-27 09:46:27,252 - DEBUG - Reading application_train.csv...
2018-06-27 09:46:32,010 - DEBUG - Finished reading application_train.csv
2018-06-27 09:46:32,010 - DEBUG - Loading bureau data...
2018-06-27 09:46:39,409 - DEBUG - Loading previous application data...
2018-06-27 09:47:08,046 - DEBUG - Done
2018-06-27 09:47:08,046 - DEBUG - Preparing applications data...
2018-06-27 09:47:12,363 - DEBUG - Performing soft impute on current home info...
2018-06-27 09:47:23,402 - DEBUG - Running PCA on current home info...
2018-06-27 09:47:26,655 - DEBUG - Performing linear regression on goods price and annuity amount...
2018-06-27 09:47:28,936 - DEBUG - Preparing applications data...
2018-06-27 09:47:33,437 - DEBUG - Performing soft impute on current home info...
2018-06-27 09:47:44,417 - DEBUG - Running PCA on current home info...
2018-06-27 09:47:45,386 - DEBUG - Performing linear regression on goods price and annuity amount...
2018-06-27 09:47:45,511 - DEBUG - Collating training data...
2018-06-27 09:47:51,183 - DEBUG - Collating validation data...
2018-06-27 09:47:57,668 - DEBUG - Scaling train and validation data...
2018-06-27 09:48:01,558 - DEBUG - Done

### bureau_balance.csv

In [6]:
import pandas as pd
bureau_balance = pd.read_csv('data/bureau_balance.csv')

In [7]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

### credit_card_balance.csv

In [8]:
import pandas as pd
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')

In [9]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [10]:
credit_card_balance.groupby('SK_ID_PREV').count().head()

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_PREV,,,,,,,,,,,,,,,,,,,,,
1000018,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
1000030,8,8,8,8,7,8,7,7,8,7,...,8,8,7,8,7,7,8,8,8,8
1000031,16,16,16,16,13,16,13,13,16,12,...,16,16,13,16,13,13,16,16,16,16
1000035,5,5,5,5,0,5,0,0,5,0,...,5,5,0,5,0,0,5,5,5,5
1000077,11,11,11,11,0,11,0,0,11,0,...,11,11,0,11,0,0,11,11,11,11

In [11]:
credit_card_balance[credit_card_balance['SK_ID_PREV'] == 2843476]['MONTHS_BALANCE'].value_counts().max()

1

In [12]:
credit_card_balance.groupby('SK_ID_PREV').count().max()

SK_ID_CURR                    96
MONTHS_BALANCE                96
AMT_BALANCE                   96
AMT_CREDIT_LIMIT_ACTUAL       96
AMT_DRAWINGS_ATM_CURRENT      96
AMT_DRAWINGS_CURRENT          96
AMT_DRAWINGS_OTHER_CURRENT    96
AMT_DRAWINGS_POS_CURRENT      96
AMT_INST_MIN_REGULARITY       96
AMT_PAYMENT_CURRENT           96
AMT_PAYMENT_TOTAL_CURRENT     96
AMT_RECEIVABLE_PRINCIPAL      96
AMT_RECIVABLE                 96
AMT_TOTAL_RECEIVABLE          96
CNT_DRAWINGS_ATM_CURRENT      96
CNT_DRAWINGS_CURRENT          96
CNT_DRAWINGS_OTHER_CURRENT    96
CNT_DRAWINGS_POS_CURRENT      96
CNT_INSTALMENT_MATURE_CUM     96
NAME_CONTRACT_STATUS          96
SK_DPD                        96
SK_DPD_DEF                    96
dtype: int64

In [ ]:
credit_card_balance

In [69]:
cc_ts_summary = credit_card_balance.drop(['SK_ID_PREV'], axis=1).groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum().unstack().stack(dropna=False)
cc_ts_summary.head()

                           AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                     NaN                      NaN
           -95                     NaN                      NaN
           -94                     NaN                      NaN
           -93                     NaN                      NaN
           -92                     NaN                      NaN

                           AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                   NaN
           -95                                  NaN                   NaN
           -94                                  NaN                   NaN
           -93                                  NaN                   NaN
           -92                                  NaN                   NaN

                           AMT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                    NaN
           -95                                    NaN
           -94                                    NaN
           -93                                    NaN
           -92                                    NaN

                           AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                      NaN
           -95                                  NaN                      NaN
           -94                                  NaN                      NaN
           -93                                  NaN                      NaN
           -92                                  NaN                      NaN

                           AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                             NaN                        NaN
           -95                             NaN                        NaN
           -94                             NaN                        NaN
           -93                             NaN                        NaN
           -92                             NaN                        NaN

                           AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN            NaN
           -95                                  NaN            NaN
           -94                                  NaN            NaN
           -93                                  NaN            NaN
           -92                                  NaN            NaN

                           AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                       NaN
           -95                              NaN                       NaN
           -94                              NaN                       NaN
           -93                              NaN                       NaN
           -92                              NaN                       NaN

                           CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                         NaN
           -95                              NaN                         NaN
           -94                              NaN                         NaN
           -93                              NaN                         NaN
           -92                              NaN                         NaN

                           CNT_DRAWINGS_POS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN
           -95                                  NaN
           -94                                  NaN
           -93                                  NaN
           -92                                  NaN

                           CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
SK_ID_CURR MONTHS_BALANCE
100006     -96                                   NaN     NaN         NaN
           -95                                   NaN     NaN         NaN
           -94                                   NaN     NaN         NaN
           -93                                   NaN     NaN         NaN
           -92                                   NaN     NaN         NaN

In [20]:
pd.to_timedelta(credit_card_balance['MONTHS_BALANCE'], unit='M').head()

0   -183 days +09:05:24
1    -31 days +13:30:54
2   -214 days +22:36:18
3   -122 days +06:03:36
4    -31 days +13:30:54
Name: MONTHS_BALANCE, dtype: timedelta64[ns]

In [49]:
cc_ts_summary.index.get_level_values(cc_ts_summary.index.names[0]).unique().shape, app_ix.values.shape

((103558,), (307511,))

In [65]:
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_ids.shape

(220606,)

In [60]:
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1
missing_df.head()

   SK_ID_CURR  MONTHS_BALANCE
0      100002              -1
1      100003              -1
2      100004              -1
3      100007              -1
4      100008              -1

In [36]:
cc_ts_summary.index.values

array([(100006, -96), (100006, -95), (100006, -94), ..., (456250, -3),
       (456250, -2), (456250, -1)], dtype=object)

In [68]:
(credit_card_balance
 .append(missing_df)
 .drop(['SK_ID_PREV'], axis=1)
 .groupby(['SK_ID_CURR', 'MONTHS_BALANCE'])
 .sum().unstack().stack(dropna=False)).head()

                           AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                     NaN                      NaN
           -95                     NaN                      NaN
           -94                     NaN                      NaN
           -93                     NaN                      NaN
           -92                     NaN                      NaN

                           AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                                  NaN                   NaN
           -95                                  NaN                   NaN
           -94                                  NaN                   NaN
           -93                                  NaN                   NaN
           -92                                  NaN                   NaN

                           AMT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                                    NaN
           -95                                    NaN
           -94                                    NaN
           -93                                    NaN
           -92                                    NaN

                           AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                                  NaN                      NaN
           -95                                  NaN                      NaN
           -94                                  NaN                      NaN
           -93                                  NaN                      NaN
           -92                                  NaN                      NaN

                           AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                             NaN                        NaN
           -95                             NaN                        NaN
           -94                             NaN                        NaN
           -93                             NaN                        NaN
           -92                             NaN                        NaN

                           AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                                  NaN            NaN
           -95                                  NaN            NaN
           -94                                  NaN            NaN
           -93                                  NaN            NaN
           -92                                  NaN            NaN

                           AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                              NaN                       NaN
           -95                              NaN                       NaN
           -94                              NaN                       NaN
           -93                              NaN                       NaN
           -92                              NaN                       NaN

                           CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                              NaN                         NaN
           -95                              NaN                         NaN
           -94                              NaN                         NaN
           -93                              NaN                         NaN
           -92                              NaN                         NaN

                           CNT_DRAWINGS_POS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100002     -96                                  NaN
           -95                                  NaN
           -94                                  NaN
           -93                                  NaN
           -92                                  NaN

                           CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
SK_ID_CURR MONTHS_BALANCE
100002     -96                                   NaN     NaN         NaN
           -95                                   NaN     NaN         NaN
           -94                                   NaN     NaN         NaN
           -93                                   NaN     NaN         NaN
           -92                                   NaN     NaN         NaN